<!DOCTYPE html>
<html>
<head>
  <title>Apollonia</title>
</head>
<body>
  <h1>Welcome</h1>
  <a href="/patients/">View Patients</a>
  <!-- <a href="/employees/">View Employees</a> -->
</body>
</html>
