<!DOCTYPE html>
<html>
<head>
  <title><%= dPatient.username %></title>
</head>
<body>
  <h1><%= dPatient.username %></h1>
  <form method="post" action="/patient/<%= dPatient.patient_id %>">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" value="Update">
    </form>
</body>
</html>
